* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #333;
  --dark: #fff;
  --gray: #ccc;
  --blue: #472481;
  --transition: all 0.4s ease;
  --project: all 5s ease;
  --project-shadow: var(--secondary-color) 0px 1px 3px;

  /*** Container-Width ***/
  --container-lg: 75%;
  --container-md: 86%;
  --container-sm: 90%;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 4rem;
  font-size: 67%;
}

::-webkit-scrollbar {
  background-color: #333;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4rem;
  background-color: #ccc;
}

body {
  background-color: var(--gray);
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

#toggle {
  cursor: pointer;
  display: none;
}

.header-content nav.active {
  transform: translate(0);
  transition: var(--transition);
}

#toggle i {
  color: #fff;
  font-size: 1.6rem;
}

#toggle.showNav i {
  color: #ccc;
}

.container {
  height: 100%;
  width: var(--container-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-weight: 600;
  color: var(--dark);
  line-height: 1.2;
}

h2 {
  font-size: 2.6rem;
  color: var(--blue);
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  color: var(--blue);
}

h4 {
  font-size: 1.8rem;
  color: var(--blue);
}

p {
  color: var(--blue);
  font-size: 1.4rem;
  margin: 1rem 0;
}

.lead {
  text-align: center;
  margin: 1rem 0;
  color: var(--blue);
  font-size: 1.6rem;
}

section > h2 {
  font-size: 3rem;
  text-align: center;
  color: var(--blue);
  margin-bottom: 1.2rem;
}

section {
  padding: 2rem 0;
}

a {
  color: var(--blue);
  transition: var(--transition);
}

.btn {
  font-size: 1.5rem;
  width: max-content;
  display: inline-block;
  color: var(--dark);
  background-color: var(--blue);
  padding: 1rem 2rem;
  border: 0.04rem;
  cursor: pointer;
  border: none;
  transition: var(--transition);
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: #ccc;
  color: var(--blue);
}

img {
  width: 100%;
  object-fit: cover;
}

.logo {
  width: 80px;
  cursor: pointer;
}

.logo img {
  width: 100%;
}
